
/* ============================================
            Pagination  
    =========================================== */
.dataTable > thead > tr > th[class*="sort"]:before,
.dataTable > thead > tr > th[class*="sort"]:after {
    content: "" !important;
}
.bottom {
    width: 100%;
    text-align: center;
    align-self: center;
}

    .bottom ul {
        padding-top: 60px;
        justify-content: center;
    }

.paginate_button a {
    border: none !important;
    color: #333333 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    margin-right: 45px;
    margin-top: 25px;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

    .paginate_button:hover,
    .paginate_button a:hover,
    .paginate_button a:focus,
    .paginate_button:focus {
        text-decoration: none;
        background: none;
    }

.paginate_button.active a {
    width: 34px;
    height: 34px;
    color: #fff !important;
    background-color: #6255a5;
    font-size: 16px;
    font-weight: 400;
    margin-right: 45px;
    margin-top: 25px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
    line-height: 40px;
    text-decoration: none;
}




.page-link {
    border: none !important;
    color: #333333 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 20px;
    margin-top: 25px;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

    .page-link:hover,
    .page-link:focus {
        background: none;
    }

.page-active:hover,
.page-active:focus,
.page-active {
    width: 34px;
    height: 34px;
    color: #fff !important;
    background-color: #6255a5;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50%;
    line-height: 20px;
}
