
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pt-5">
    <!-- Top Section-->
    <div class="jumbotron jumbotron-fluid user-profile-banner d-flex justify-content-center align-items-center" style="height: 250px;">
        <div class="container text-center">
            <h1>Frequently Asked Questions</h1>
        </div>
    </div>
    <!-- Top Section End-->
    <!-- FAQ-->
    <div class="container form-placeholder">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading field-heading ">General Questions</h1>
            </div>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="card card-collapse ">
                <div class="card-header" id="headingOne">
                    <h2>

                        <a role="button" data-toggle="collapse" class="card-collapse-heading" data-target="#collapseOne" href="#collapseOpenOne" aria-expanded="true" aria-controls="collapseOpenOne">
                            What is Marketplace-Notes?
                            <i class="fa fa-plus float-right"></i>
                        </a>

                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p class="card-body-collapse">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas temporibus modi debitis neque amet laudantium iusto consectetur porro, eaque doloremque fugiat, veritatis, ratione minima quisquam tenetur odio ab incidunt dolorum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card card-collapse ">
                <div class="card-header" id="headingTwo">
                    <h2>
                        <a role="button" data-toggle="collapse" class="card-collapse-heading" data-target="#collapseTwo" href="#collapseOpenTwo" aria-expanded="true" aria-controls="collapseOpenTwo">
                            What do the University say?
                            <i class="fa fa-plus float-right"></i>
                        </a>

                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas temporibus modi debitis neque amet laudantium iusto consectetur porro, eaque doloremque fugiat, veritatis, ratione minima quisquam tenetur odio ab incidunt dolorum.
                    </div>
                </div>
            </div>
            <div class="card card-collapse ">
                <div class="card-header" id="headingThree">
                    <h2>
                        <a role="button" data-toggle="collapse" class="card-collapse-heading" data-target="#collapseThree" href="#collapseOpenThree" aria-expanded="false" aria-controls="collapseOpenThree">
                            Is this legal?
                            <i class="fa fa-plus float-right"></i>
                        </a>

                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas temporibus modi debitis neque amet laudantium iusto consectetur porro, eaque doloremque fugiat, veritatis, ratione minima quisquam tenetur odio ab incidunt dolorum.
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading field-heading ">Uploaders</h1>
                </div>
            </div>



            <div class="card card-collapse ">
                <div class="card-header" id="headingFour">
                    <h2>
                        <a role="button" data-toggle="collapse" class="card-collapse-heading" data-target="#collapseFour" href="#collapseOpenFour" aria-expanded="true" aria-controls="collapseOpenFour">
                            What can't I sell?
                            <i class="fa fa-plus float-right"></i>
                        </a>

                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas temporibus modi debitis neque amet laudantium iusto consectetur porro, eaque doloremque fugiat, veritatis, ratione minima quisquam tenetur odio ab incidunt dolorum.
                    </div>
                </div>
            </div>
            <div class="card card-collapse ">
                <div class="card-header" id="headingFive">
                    <h2>
                        <a role="button" data-toggle="collapse" class="card-collapse-heading" data-target="#collapseFive" href="#collapseOpenFive" aria-expanded="false" aria-controls="collapseOpenFive">
                            What notes can I sell?
                            <i class="fa fa-plus float-right"></i>
                        </a>

                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas temporibus modi debitis neque amet laudantium iusto consectetur porro, eaque doloremque fugiat, veritatis, ratione minima quisquam tenetur odio ab incidunt dolorum.
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading field-heading ">Downloaders</h1>
                </div>
            </div>



            <div class="card card-collapse ">
                <div class="card-header" id="headingSix">
                    <h2>
                        <a role="button" data-toggle="collapse" class="card-collapse-heading" data-target="#collapseSix" href="#collapseOpenSix" aria-expanded="true" aria-controls="collapseOpenSix">
                            How do I buy notes?
                            <i class="fa fa-plus float-right"></i>
                        </a>

                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas temporibus modi debitis neque amet laudantium iusto consectetur porro, eaque doloremque fugiat, veritatis, ratione minima quisquam tenetur odio ab incidunt dolorum.
                    </div>
                </div>
            </div>
            <div class="card card-collapse ">
                <div class="card-header" id="headingSeven">
                    <h2>
                        <a role="button" data-toggle="collapse" class="card-collapse-heading" data-target="#collapseSeven" href="#collapseOpenSeven" aria-expanded="false" aria-controls="collapseOpenSeven">
                            Can I edit the notes I purchased?
                            <i class="fa fa-plus float-right"></i>
                        </a>

                    </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas temporibus modi debitis neque amet laudantium iusto consectetur porro, eaque doloremque fugiat, veritatis, ratione minima quisquam tenetur odio ab incidunt dolorum.
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- FAQ End-->
</main>

